body {
    font-family: sans-serif;

    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #251ac7ff;
    color: white;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
}

main {
    padding: 20px;
}
